@model Forum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

@if (ViewBag.IsAuth)
{
    @section MyDiscussLink {
        @Html.Partial("MyDiscussLink")
    }
}

<div class="discuss-details">

    <div class="discuss-content">
        <div class="topic-text">
            <h3>@Model.Topic</h3>
            <hr />
        </div>
        <div class="discuss-description">
            <h5>@Model.Description</h5>
        </div>
    </div>

    <div class="comments">
        <div class="comments-header">
            <h3>Comments</h3>
            <hr />
        </div>
    </div>

</div>

