
@foreach (var item in ViewBag.Comments)
{
<div class="comm-block">
    <div class="comm_description">
        @item.Description
    </div>
    <div class="meta-fields">
        <span class="username">@item.User.Email</span>
        <span class="date">@item.Date.ToLongDateString()</span>
    </div>
</div>
}