@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.IsAuth)
{
    @section MyDiscussLink {
        @Html.Partial("~/Views/Discussions/MyDiscussLink.cshtml")
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <a class="link-to-discuss" asp-controller="Discussions" asp-action="Index">Forum</a>!</h1>
</div>
